.container{
  margin: 30px auto;
  max-width: 900px;
  background-color: var(--Base-White);
  border-radius: 15px;
  padding: 40px;

  @media (max-width: 800px) {
    max-width: 800px;
  }
}



body{
  background-color: var(--grey);

}
