.container{
  margin: 30px auto;
  max-width: 900px;
  background-color: var(--Base-White);
  border-radius: 15px;
  padding: 40px;

  @media (max-width: 922px) {
    max-width: 760px;
  }
  @media (max-width: 768px) {
    max-width: 550px;
  }
  @media (max-width: 600px) {
    max-width: 300px;
  }
}



body{
  background-color: var(--grey);
  font: var(--text-font);
  @media (max-width: 768px) {
    font: var(--text-font-mobile);
  }
}
