.authorization__form{
  display: flex;
  flex-direction: column;
  margin: 30px 60px;
  align-items: center;
  justify-content: center;
}

.authorization__error{
  color: red;
  font-size: medium;
}

.authorization__input{
  width: 350px;
}

.authorization__register{
  display: flex;
  flex-direction: column;
  align-items: center;
}