.history__row{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.history__title{
  padding: 20px 0;
  font: var(--title-font);
}

.green{
  background-color: #edfded;
}

.white{
  background-color: #fde9e9;
}

.history__table{
  width: 800px;
}

.history__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}