:root {
  --Base-Black: #000;
  --Base-White: #FFF;
  --light-green: #f6ffed;
  --green: #7df57d;
  --dark-green: #0c7a0c;
  --grey: #d5d5d5;
  --red: #b04d4d;
  --green-2: #d9f7be;
  --green-6: #52c41a;
  --green-5: #73d13d;
  --green-7:#389e0d;
  --light-pink: #fde9e9;
  --button-color:  #00b96b;
  --dark-blue: #001529;
}