.balance__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.expenses__container,
.income__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.expenses__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.expenses__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.expenses__card-selected .expenses__img-container{
  background-color: var(--green-5);
  border: 2px solid var(--Base-Black);
}

.expenses__card-selected .expenses__name{
  color: var(--green-7);
}

.expenses__img-container{
  background-color: var(--light-green);
  border: 2px solid black;
  border-radius: 100%;
  cursor: pointer;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expenses__img{
  width: 30px;
  height: 30px;
}

.income__table{
  width: 500px;
}

.expenses__table{
  width: 800px;
  @media (max-width: 922px) {
    max-width: 600px;
  }
  @media (max-width: 768px) {
    max-width: 500px;
  }
  @media (max-width: 600px) {
    max-width: 290px;
  }
}

.date__row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.expenses__button,
.income__button{
  width: 200px;
  height: 50px;
  font-size: large;
}

.balance__title,
.balance__sum{
  //font: var(--title-font);
  font-size: 24px;
  font-weight: 600;
}
