.user__column{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  gap: 10px;
}

.user__row{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.user__row-icon{
  font-size: 20px;
  color: var(--Base-Black);
  cursor: pointer;
}

.user__row-icon:hover{
  color: #22c522;
}

.user__row-button{
  background-color: var(--red);
}

.header__right{
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
}

.header__switch{
  border: 1px solid white;
}