.footer__container {
  background-color: var(--Base-Black);
  color: var(--Base-White);
  font: var(--footer-font);
  padding: 10px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px
  }

}

.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  @media (max-width: 600px) {
    margin-top: 10px;
  }
}

.footer__socials-icon {
  width: 20px;
  height: 20px;
}

.footer-beetroot-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  @media (max-width: 600px) {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px
  }
}

.footer-socials-side {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  @media (max-width: 600px) {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}

.footer__teacher {
  text-decoration: none;
  color: var(--Base-White);
}

.footer__socials-beetroot {
  width: 90px;
  max-height: 50px;
  background-color: var(--Base-White);
  border-radius: 15px;
}